In [7]:
import pandas as pd

In [12]:
people = {
    "first" : ["길동","춘향","몽룡"],
    "last" : ["홍" ,"성" ,"이"],
    "email" : ["gdh@gmail.com", "chs@gmail.com","mrl@gmail.com"]
}

In [13]:
df = pd.DataFrame(people)

In [14]:
df

  first last          email
0    길동    홍  gdh@gmail.com
1    춘향    성  chs@gmail.com
2    몽룡    이  mrl@gmail.com

In [16]:
df.loc[0]

first               길동
last                 홍
email    gdh@gmail.com
Name: 0, dtype: object

In [17]:
df.loc[0,'first']

'길동'

In [25]:
df.loc[[0,1]]

  first last          email
0    길동    홍  gdh@gmail.com
1    춘향    성  chs@gmail.com

In [26]:
df.loc[[0,1],"last"]

0    홍
1    성
Name: last, dtype: object

In [28]:
df.loc[[0,1],["last","email"]]

  last          email
0    홍  gdh@gmail.com
1    성  chs@gmail.com

In [29]:
df.set_index("email")

              first last
email
gdh@gmail.com    길동    홍
chs@gmail.com    춘향    성
mrl@gmail.com    몽룡    이

In [32]:
df

              first last
email
gdh@gmail.com    길동    홍
chs@gmail.com    춘향    성
mrl@gmail.com    몽룡    이

In [31]:
df.set_index("email",inplace =True)

In [33]:
df

              first last
email
gdh@gmail.com    길동    홍
chs@gmail.com    춘향    성
mrl@gmail.com    몽룡    이

In [36]:
df.loc['gdh@gmail.com','first']

'길동'

In [37]:
df.index

Index(['gdh@gmail.com', 'chs@gmail.com', 'mrl@gmail.com'], dtype='object', name='email')

In [39]:
df.iloc[0]

first    길동
last      홍
Name: gdh@gmail.com, dtype: object

In [40]:
df.iloc[0,0]

'길동'

In [41]:
df

              first last
email
gdh@gmail.com    길동    홍
chs@gmail.com    춘향    성
mrl@gmail.com    몽룡    이

In [42]:
df.sort_index()

              first last
email
chs@gmail.com    춘향    성
gdh@gmail.com    길동    홍
mrl@gmail.com    몽룡    이

In [43]:
df.sort_index(inplace=True)

In [44]:
df

              first last
email
chs@gmail.com    춘향    성
gdh@gmail.com    길동    홍
mrl@gmail.com    몽룡    이

In [45]:
df.sort_index(ascending=False, inplace=True)

In [46]:
df

              first last
email
mrl@gmail.com    몽룡    이
gdh@gmail.com    길동    홍
chs@gmail.com    춘향    성

In [47]:
df.index

Index(['mrl@gmail.com', 'gdh@gmail.com', 'chs@gmail.com'], dtype='object', name='email')

In [53]:
df.index[2]

'chs@gmail.com'

In [54]:
df.iloc[2,-1]

'성'

In [55]:
df.reset_index(inplace=True)

In [56]:
df

           email first last
0  mrl@gmail.com    몽룡    이
1  gdh@gmail.com    길동    홍
2  chs@gmail.com    춘향    성

In [57]:
df['last']

0    이
1    홍
2    성
Name: last, dtype: object

In [58]:
df['last'] == '성'

0    False
1    False
2     True
Name: last, dtype: bool

In [59]:
type(df['last'] == '성')

pandas.core.series.Series

In [60]:
df[df['last']== '성']

           email first last
2  chs@gmail.com    춘향    성

In [64]:
filt = (df['last']== '성')

In [65]:
df[filt]

           email first last
2  chs@gmail.com    춘향    성

In [66]:
df[filt]['first']

2    춘향
Name: first, dtype: object

In [67]:
df.loc[2,'first']

'춘향'

In [68]:
df.loc[filt, 'first']

2    춘향
Name: first, dtype: object

In [78]:
filt = (df['last'] == '성') &  (df['first']=='길동')

In [79]:
df[filt]

Empty DataFrame
Columns: [email, first, last]
Index: []

In [80]:
filt

0    False
1    False
2    False
dtype: bool

In [76]:
df[filt]

Empty DataFrame
Columns: [email, first, last]
Index: []

In [83]:
filt = (df['last'] == '성') |  (df['first']=='길동')

In [84]:
df[filt]

           email first last
1  gdh@gmail.com    길동    홍
2  chs@gmail.com    춘향    성

In [85]:
df[filt]['email']

1    gdh@gmail.com
2    chs@gmail.com
Name: email, dtype: object

In [86]:
df.loc[filt,'email']

1    gdh@gmail.com
2    chs@gmail.com
Name: email, dtype: object

In [87]:
df.loc[-filt,'email']

0    mrl@gmail.com
Name: email, dtype: object